@media (max-width: 1366px)
{
    .row1,
    .row2 {
        padding:0 20px 0 20px;
        width:auto;
        margin-right: 0;
    }
    .row3 {
        margin:0;
    }
  
}
@media (max-width: 1200px)
{
    .photo {
        width:19%;
    }

    .row3 {
        text-align: center;
    }

    
}

@media (max-width: 992px)

{
    .row1,
    .row2 {
        margin-bottom: 50px;
    }
    .photo {
        width:18%;
    }
    .photo figcaption {
        
        font-size: 14px;
    }

    
}

@media (max-width: 768px)

{
    .row1,
    .row2,
    .row3 {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding:0;
    }
    .row3 {
        width:100%;
    }

    .row1 .photo:nth-child(1),
    .row1 .photo:nth-child(2),
    .row2 .photo:nth-child(1),
    .row2 .photo:nth-child(2),
    .row3 .photo:nth-child(1),
    .row3 .photo:nth-child(2)
     {
        margin-bottom: 40px;
    }
    .row1 .photo:nth-child(3),
    .row2 .photo:nth-child(3)
     {
        margin:0;
        
    }

    .row3 .photo:nth-child(3) {
        
        margin:0;
        
        justify-content: start;
        
    }
    .photo {
        width:40%;
    }
    .photo figcaption {
        
        font-size: 14px;
    }

    
}

@media (max-width: 540px)

{
    .content {
    
        
        width:100%;
    
    }
}


@media (max-width: 370px)

{
    
    .row1,
    .row2,
    .row3 {
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding:0;
    }

    .row1 .photo:first-child,
    .row2 .photo:first-child,
    .row3 .photo:first-child {
    margin:0 auto;
    margin-bottom: 80px;
    
    }

    .row1 .photo:nth-child(3), .row2 .photo:nth-child(3) {
    margin: 0 auto;
    margin-bottom: 80px;
    }

    .row3 .photo:nth-child(3) {
    margin: 0 auto;
    margin-bottom: 0px;

    }
    

    .photo {
    
        width:90%;
        margin:0 auto;
        
    }

    
    
}