@media (max-width: 540px)

{
   .navandmain {
       display:block;
       padding-top: 110px;
   }
   

    

    
}

@media (max-width: 460px)

{
   .navandmain {
       
       padding-top: 0;
   }
   

    

    
}