.container {

    padding:60px 0;
    
    background-image: url('../../img/canvas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:90%;
}

.paintingpage {
    display:flex;
    justify-content: space-between;
    align-items:top;
    padding-top:100px;
}

.paintingphoto {
    text-align: center;
    width:50%;
}
.mainPhoto img {
    width:60%;
    border-radius: 10px;
    margin-bottom: 40px;
    /* -webkit-box-shadow: 0px 0px 6px 5px rgba(69,69,69,1);
    -moz-box-shadow: 0px 0px 6px 5px rgba(69,69,69,1);
    box-shadow: 0px 0px 6px 5px rgba(69,69,69,1);
 */
}



.mainPhoto img:hover  {
  transform: scale(1.1);
  transition: 4s;

}

.thumbnail img:hover {
    
        cursor: pointer;
        transform: scale(1.05);
        transition:0.4s;
        
        
    
}

.thumbnail {
    display:flex;
    width:60%;
    margin:0 auto;
 } 

.thumbnail .small {
    width:60%;
    border-radius: 10px;
    
    
    
    
}




.paintingdescription  {
    width:50%;
    text-align: center;
}

.paintingdescription p {
    width:60%;
    text-align: center;
    display:block;
}

.paintingdescription p:nth-last-child(2){
        margin-top: 10px;
        font-style: italic;

}

.paintingdescription p span {
    font-weight: 500;
}

.button {
    width:60%;
}

.button p {
    width:30%;
    padding:10px 20px;
    margin: 0 auto;
    background-color: green;
    margin-bottom: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    color:white;
}



.descriptionrow {
    display:flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
    border:1px solid rgba(83, 83, 83, 0.774);
    width:60%;
    padding:10px 10px;
    background-color: rgba(226, 226, 226, 0.65);
    border-radius: 10px;
    text-transform: uppercase;
}

.descriptionrow p {
    padding-left: 50px;
}

.paypal {
    width:60%;
    margin-top: 40px;
}

.backnext {
    display:flex;
    justify-content: center;
    width:60%;
    padding:40px 0;
}

.backnext button {
    padding: 10px 25px;
    border-radius: 10px;
    border:none;
    background-color: green;
    color:white;
    text-transform: uppercase;
    
}

.backnext svg {
    padding:0 5px;
    
}

.backnext button p {
    display:inline;
    
}

.backnext button:active,
.backnext button:visited {
    border:none;
    outline:none;
}

.backnext button:hover {
    cursor: pointer;
    background-color: red;
    transition: 0.3s;
    transform: scale(1.02);
}

.backnext div {
    padding:0 10px;
}

/* MEDIA QUERIES */

@media (max-width:992px){

    .mainPhoto img {
        width:74%;
        
    }

    .thumbnail {
        
        width: 90%;
        
    }

    .descriptionrow p {
        padding-left: 30px;
    }

    .button p {
        width: 40%;
        
    }

    .descriptionrow {
        width:56%;
       font-size: 18px;
        padding: 3px 10px;
    }

    
}

@media (max-width:768px) {
    .paintingpage {
    
        padding-top: 50px;
    }

    .descriptionrow {
        width:67%;
    }
    .descriptionrow svg {
        width:20px;
    }

    .thumbnail .small {
        width: 70%;
        
    }

    .button {
        width:75%;
    }

    .paintingdescription p {
        width:75%;
    }

    .paypal {
        width:75%;
    }

    .backnext {
        width:75%;
    }

    
}

@media (max-width:540px) {

    .container {
        width:100%;
        padding-bottom: 30px;
    }
    .paintingpage {
        flex-direction: column;
        justify-content: center;
        
        
    }

    .paintingphoto {
        width:100%;
    }

    .thumbnail .small {
        width: 60%;
        margin-bottom: 50px;
    }

    .paintingdescription {
        width:70%;
        margin:0 auto;
    }

    .button {
        margin:0 auto;
        padding-bottom: 10px;
    }


    .paintingdescription p {
        margin:0 auto;
        
    }

    

    .paypal {
        margin:0 auto;
        padding-top: 20px;
    }

    .backnext {
        margin:0 auto;
    }

    
}